# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# SQLite database and backups
database/*.db
database/*.db-journal

# OS-specific files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.swp
*.lock
