<!DOCTYPE html>
<html>
<head>
    <title>Category Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Products in "<%= categoryName %>"</h1>
    <ul>
        <% filteredProducts.forEach(product => { %>
            <li>
                <a href="/categories/product/<%= product.id %>"><%= product.name %></a> - $<%= product.price %>
            </li>
        <% }); %>
    </ul>
    <p><a href="/">Back to Categories</a></p>
</body>
</html>